# Gradle
.gradle/
build/

# Local config
local.properties

# Android Studio
.idea/
*.iml

# Logs
*.log

# APK / outputs
*.apk
*.aab

# Generated
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db
